.mouse {
  position: absolute;
  width: 200px;
  height: 200px;
  user-select: none;
  mix-blend-mode: difference;
  background: #261F27;
  z-index: 99;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  top: 0;
  left: 0;
  pointer-events: none;
  @include mq(sp) {
    transition: none;
  }
}
