<% include view/_header %>
<div class="images">
    <div class="image"><img src="<%= IMAGE %>yuris-alhumaydy-_62k73mWyu4-unsplash.jpg" alt=""></div>    
</div>
<div class="mouse" id="js-mouse"></div>
<% include view/_footer %>