<% include view/_header %>
<div class="wrapper" id="js-wrapper">
  <div class="images" id="js-images">
    <div class="image"><img src="<%= IMAGE %>yuris-alhumaydy-_62k73mWyu4-unsplash.jpg" alt=""></div>
  </div>
  <div class="mouse" id="js-mouse"></div>
</div>
<% include view/_footer %>